
  .center{
    padding-left: 10%;
    padding-top: 10%;
    
  }
 
.contenedor{
  background: linear-gradient(to bottom, bisque, lightpink);
  height: 100%;
 
}
.formCardSection{
  max-width: 400px;
  margin: auto;
  margin-top: 32px;
}